.profile {
    display: flex;
}

@media screen and (max-width: 905px) {
    .profile {
    flex-direction: column;
        
    }
}

@media screen and (max-width: 400px) {
    .profile {
        padding: 0 19px 0 19px;
        position: relative;
    }
}