.popup__content {
    background-color: white;
    max-width: 430px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 34px 36px 34px 36px;
    max-height: 300px;
    position: relative;
}

@media screen and (max-width: 500px) {
    .popup__content {
        max-width: 282px;
        max-height: 322px;
        padding: 22px 22px 24px 22px;
    }
}

