.popup__close {
    background-image: url(../../../images/Close-Icon.png);
    background-size: cover;
    background-color: black;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 500px) {
    .popup__close {
        top: -30px;
        right: 0px;
        width: 20px;
        height: 20px;
    }
}